*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.nav li:hover .sub-menu-c2{
    display: block;
}

.sub-menu-c2{
    margin-top: 8px;
    background-color: white;
    position: absolute;
    display: none;
    z-index: 3;
    padding:20px
}

.sub-menu-c2:hover{
    display: inline;
}

.sub-menu-c2 li a{
    color: rgb(127, 74, 58);
    padding-bottom: 5px;
    text-decoration: none;
}

.sub-menu-c2 li a:hover{
    color: red;
}

.sub-menu-c2 li{
    list-style: none;
}

.vitri{
    font-size: 50px;
}
* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.material-symbols-outlined {
    vertical-align: -5px;
    margin-right: 5px;
    font-variation-settings: "FILL"0, "wght"400, "GRAD"0, "opsz"24;
}
.BaoTri {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin-left: 10%;
    padding: 40px 20px;
    width: 80%;
    height: 40%;
    border-radius: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.details{
    width: 40%; 
}
.map{
    margin-left: 5%;
    width: 50%;
}

.map iframe{
    width: 100%;
    height: 100%;
}
.center-location{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 700px;
    width: 100%;
}
.location-details{
    background-color: rgb(247, 244, 244);
    padding: 10px 10px;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    cursor: pointer;
}
.location-details p{
    color: gray;
}
.location-details h4{
    font-weight: bold;
}
#seeMore {
    cursor: pointer;
    background-color: #04aa6d;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#seeMore:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: rotateZ("angle");
}