*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.header .nav a:hover{ 
    color: rgb(127, 74, 58);
}
.slider{
    margin-top: 55px;
    position: relative;
    padding-top: 50%;
    background: url(../IMG/banner.png) top center / cover no-repeat;
}

.card-title h6{
    color: rgb(127, 74, 58);
}

.card-group a{
    text-align: center;
    text-decoration: none;
}

.card:hover{
    box-shadow: 2px 2px 12px rgb(78, 86, 77);
    transform: translateY(-2px);
}
.card{
    transition: all 0.5s;
}

.nav li:hover .sub-menu-c2{
    display: block;
}

.sub-menu-c2{
    margin-top: 8px;
    background-color: white;
    position: absolute;
    display: none;
    z-index: 3;
    padding:20px
}

.sub-menu-c2:hover{
    display: inline;
}

.sub-menu-c2 li a{
    color: rgb(127, 74, 58);
    padding-bottom: 5px;
    text-decoration: none;
}

.sub-menu-c2 li a:hover{
    color: red;
}

.sub-menu-c2 li{
    list-style: none;
}

.them-vao-gio-hang-1{
    margin-left: 50px;
}

footer{
    display: flex;
}

.left-ft{
    width: 60%;
    height: 500px;
    background-color: rgb(243, 242, 236);
    padding-top: 100px;
}

.right-ft{
    width: 40%;
    background-color: rgb(218, 80, 54);
    padding-top: 150px;
    padding-left: 50px;
}

.ft-chu{
    
    color: white;
}
.themify-icon1{
    margin-right: 50px;
}